<div
  class="footer-height text-white d-flex flex-column justify-content-center align-items-center"
>
  <div
    class="bg-sec-color w-100 h-75 d-flex justify-content-center align-items-center"
  >
    <div class="container">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-md-4 text-center">
          <h3>LOCATION</h3>
          <p class="w-50 mx-auto px-3">
            2215 John Daniel Drive Clark, MO 65243
          </p>
        </div>
        <div class="col-md-4 text-center">
          <h3>AROUND THE WEB</h3>
          <ul class="d-flex justify-content-center gap-2 align-items-center">
            <li class="icon">
              <i class="fa-brands fa-facebook"></i>
            </li>
            <li class="icon">
              <i class="fa-brands fa-twitter"></i>
            </li>
            <li class="icon">
              <i class="fa-brands fa-linkedin-in"></i>
            </li>
            <li class="icon">
              <i class="fa-solid fa-globe"></i>
            </li>
          </ul>
        </div>
        <div class="col-md-4 text-center p-0 px-2">
          <h3>ABOUT FREELANCER</h3>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="bg-dark-gray h-25 w-100 d-flex justify-content-between align-items-center"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          Copyright &copy; your website 2021
        </div>
      </div>
    </div>
  </div>
</div>
