<div
  class="bg-main-color section-height d-flex justify-content-center align-items-center"
>
  <div class="container text-white">
    <div class="row">
      <div class="col-lg-12">
        <app-section-heading
          [titleText]="aboutTitle"
          [page]="pageName"
        ></app-section-heading>
        <div class="row px-5 pt-3">
          <p class="col-md-6 ps-4 pe-2">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
          <p class="col-md-6 ps-2 pe-4">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
