<div class="w-100 bg-sec-color nav-parent position-sticky">
  <nav class="navbar position-sticky navbar-expand-lg nav-height">
    <div class="container bg-sec-color">
      <a class="navbar-brand text-white fs-2 fw-bold" routerLink="home"
        >START FRAMEWORK</a
      >
      <button
        class="navbar-toggler mb-3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 bg-sec-color gap-3">
          <li class="nav-item me-auto text-uppercase">
            <a
              class="nav-link text-white p-1"
              routerLinkActive=" rounded-3  bg-main-color "
              routerLink="about"
              >About</a
            >
          </li>
          <li class="nav-item me-auto text-uppercase">
            <a
              class="nav-link text-white p-1"
              routerLinkActive=" rounded-3  bg-main-color "
              routerLink="portfolio"
              >Portfolio</a
            >
          </li>
          <li class="nav-item me-auto text-uppercase">
            <a
              class="nav-link text-white p-1"
              routerLinkActive=" rounded-3  bg-main-color "
              routerLink="contact"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
