.img-container {
  position: relative;
  cursor: pointer;
}
.img-container .overlay {
  position: absolute;
  opacity: 0;
  width: 95%;
  margin: 0 auto;
  height: 100%;
  top: 0;
  color: white;
  font-size: 80px;
  font-weight: bold;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.img-container:hover > .overlay {
  opacity: 0.9;
}
#modal-container {
  /* position: fixed; */
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}
