<div class="section-height">
  <app-section-heading [titleText]="portfolioTitle"></app-section-heading>
  <div class="container text-center">
    <div class="row justify-content-center row-gap-4 py-3">
      <div class="col-lg-4 col-md-6 img-container">
        <img
          src="./assets/images/port1.png"
          width="400"
          height="300"
          class="rounded-3"
        />
      </div>

      <div class="col-lg-4 col-md-6 img-container">
        <img
          src="./assets/images/port2.png"
          width="400"
          height="300"
          class="rounded-3"
        />
      </div>

      <div class="col-lg-4 col-md-6 img-container">
        <img
          src="./assets/images/port3.png"
          width="400"
          height="300"
          class="rounded-3"
        />
      </div>

      <div class="col-lg-4 col-md-6 img-container">
        <img
          src="./assets/images/port1.png"
          width="400"
          height="300"
          class="rounded-3"
        />
      </div>

      <div class="col-lg-4 col-md-6 img-container">
        <img
          src="./assets/images/port2.png"
          width="400"
          height="300"
          class="rounded-3"
        />
      </div>

      <div class="col-lg-4 col-md-6 img-container">
        <img
          src="./assets/images/port3.png"
          width="400"
          height="300"
          class="rounded-3"
        />
      </div>
    </div>
  </div>
</div>
