<div
  class="bg-main-color section-height d-flex justify-content-center align-items-center"
>
  <div class="container text-white">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 text-center">
        <img [src]="imgSource" width="300" height="300" class="pb-3" />
        <app-section-heading
          [titleText]="homeTitle"
          [page]="pageName"
        ></app-section-heading>
        <p class="pt-2">Graphic Artist - Web Designer - Illustrator</p>
      </div>
    </div>
  </div>
</div>
